files/CLARA/configurationENS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="ConfigurationIDs" minOccurs="1" maxOccurs="1">
		  <xs:complexType>
			<xs:sequence>
              <xs:element name="FileVersion" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="AnalysisTemplateId" type="xs:int" minOccurs="1" maxOccurs="1" />
              <xs:element name="TargetId" type="xs:string" minOccurs="1" maxOccurs="1" />
			  <xs:element name="WorkspaceId" type="xs:string" minOccurs="1" maxOccurs="1" />
			  <xs:element name="Signature" type="xs:string" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
         <xs:element name="SecurityENS" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ComplianceLevel" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="SecurityUpdates" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Analyse" type="xs:boolean" minOccurs="0" maxOccurs="1" />                    
                    <xs:element name="AnalyseMissingUpdates" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                    <xs:element name="CabFile" type="xs:string" minOccurs="1" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Additional" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ReportFolder" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="LogFolder" type="xs:string" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>